# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular libraries used by Data scientists
* List popular development environment open source tools used in data science
* Create code cells with arithmetic expression examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Tensorflow

| Data Science Tools|
------------------------------
| JupyterLab | 
| VisualStudio Code |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutes= 200
minutes_in_one_hour= 60
minutes/minutes_in_one_hour

3.3333333333333335

## Author
Alicia Furlan